<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Initial</title>
</head>
<body>
    <p id="mouse-position"></p>
    <script>
        const socket = new WebSocket('http://127.0.0.1:8000/ws/socket-server/'); // Replace with your server URL

        socket.onopen = function(event) {
            console.log('WebSocket connection established.');
        };

        socket.onmessage = function(event) {
            const positionData = JSON.parse(event.data);

            // Update HTML content with live mouse position
            document.getElementById('mouse-position').innerText = `X: ${positionData.x}, Y: ${positionData.y}`;
        };

        socket.onclose = function(event) {
            console.log('WebSocket connection closed.');
        };
    </script>
</body>
</html>