<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Initial</title>
</head>
<body>
    <p id="xCoordinate"></p>
    <p id="yCoordinate"></p>
<script>
    let socket = new WebSocket('ws://' + window.location.host + '/ws/mouse/');

    socket.onmessage = function (event) {
        let data = JSON.parse(event.data);
        document.getElementById('xCoordinate').innerText = 'X: ' + data.x;
        document.getElementById('yCoordinate').innerText = 'Y: ' + data.y;
    };
</script>
</body>
</html>